/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

/* start header */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav-bar .nav-link .nav-item i {
    float: right;
}

/* carousel */
.layout_padding {
    padding-top: 50px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


/* header section start */

.header_section {
    width: 100%;
    float: left;
    height: auto;
    background-size: 100%;
    margin-top: -30px;
    background-repeat: no-repeat;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.top_header_background {
    background-color: white;
    padding: 20px 50px;
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 30px 20px 10px 20px;
    font-size: 17px;
    color: #DBAD3A;
    text-transform: uppercase;
    background-color: transparent;
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #5c4e4e;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #5c4e4e;
}

.navbar-brand {
    margin: 0px;
    margin-top: 20px;
}

.navbar-brand img {
    width: 200px;
}

.nav-nav {
    align-content: center;
    margin-left: auto;
}

.navbar-toggler {
    float: right;
}

.navbar {
    padding: 0px 0px 20px 0px;
}

.user_icon {
    padding-right: 15px;
}

.login_bt {
    width: 210px;
    margin-top: 28px;
}

.login_bt ul {
    margin: 0px;
    padding: 0px;
}

.login_bt li a {
    float: left;
    font-size: 18px;
    color: #fefefd;
    text-transform: uppercase;
    padding: 0px 0px 0px 50px;
}

.login_bt li a:hover {
    color: #f01c1c;
}
/* header section end */

/* about section start */


.about-page {
    background-image: url('../images/image3.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px 20px 0px 20px;
    position: relative;
    z-index: 1;
    width: 100%;
    float: left;
    margin-top: -20px;
}

.about-page::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); 
  z-index: -1;
}

.about-content {
    background-color: #fdfcfc;
    height: 100%;
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
}

.about_section {
    width: 100%;
    background-color: #fdfcfc;
    float: left;
    padding-bottom: 20px;
    margin-top: -20px;
}

.about_section .container {
    margin-top: -20px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0px;
    line-height: 1.6;
}

.about_taital_box {
    width: 100%;
    float: left;
}

.about_taital_1 {
    width: 100%;
    float: left;
    font-size: 3em;
    color: #3b3b3b;
}

.about_taital_1 h1{ 
    justify-content: center;
    text-align: center;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #232222;
    margin: 0px;
}

.readmore_btn {
    width: 170px;
    float: left;
    margin-top: 20px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    border-radius: 0px;
    border: 1px solid #DBAD3A;
    padding: 10px;
    border-radius: 0px;
    text-align: center;
}

.readmore_btn a:hover {
    color: #4a4949;
    border: 1px solid #4a4949;
}

/* about-end */

/* story-start */

.story-section {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
}

.story-box {
    background-color: #fdfcfc;
    border: 1px solid #DBAD3A;
    margin-top: 80px;
    position: relative;
    border-radius: 12px;
    padding: 120px 50px 50px 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.story-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fdfcfc;
    position: absolute;
    top: -185px;
    left: 40px;
    background-color: #fff;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.story-content {
    color: #000000;
}

.story-content text {
}

.story-content h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.story-content p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.8;
  color: #444;
  text-align: justify;
}

/* story-end */

/* stats-start */

.stats-section {
    display: flex;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    margin-top: 120px;
}

.stats-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fdfcfc;
    border: 1px solid #DBAD3A;
    margin-top: 10px;
    border-radius: 12px;
    padding: 20px 50px 0px 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.stats-content {
    color: #000000;
}

.stats-content text {
}

.stats-content h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.stats-content p {
  margin-top: -5px;  
  font-size: 16px;
  color: #444;
  text-align: center;
}

/* stats-end */

/* services-start */
.services-page-layout {
    background-image: url('../images/image35.jpeg');
}

.service-page {
    width: 100%;
    display: flex;
}

.service-place {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.service-text {
    background-color: #fcfcfc;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.service-header2-text {
    padding: 30px;
    margin-bottom: -80px;
}

.service-list {
    padding: 0px 0px 0px 20px;
    margin-top: -10px;
    line-height: 30px;
}

.service-place-img-row {
    background-color: #DBAD3A;
    padding: 30px 0px;
    justify-items: center;
    height: 100%;
}


.service-img-container .img-before {
    position: absolute;

}

.service-img-container .img-after {
    position: relative;
    top: 100px;
    left: 60px;
}

.service-img-container img {
    width: 300px;
    box-shadow: 0 4px 4px rgba(34, 31, 31, 0.2);
    border-radius: 10px;
}

.service-img-container2 {
    margin-top: 90px;
    margin-bottom: 150px;
}

.service-img-container2 img {
    width: 300px;
    box-shadow: 0 4px 4px rgba(34, 31, 31, 0.2);
    border-radius: 10px;
}

.service-img-container2 .img-second-before {
    position: relative;
    top: 100px;
    left: 60px;
    z-index: 1;
}

.service-img-container2 .img-second-after {
    position: absolute;
    z-index: 0;
}

.service-page2 {
    margin-top: 30px;
}

.service-page3 {
    margin-top: 30px;
}

/* services-end */

/* portfolio-start */

.portfolio-page {
    width: 100%;
    display: flex;
}

.portfolio-place {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.portfolio-container {
    
}

.portfolio-span-2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* portfolio-end */

/* Optional: Make sure container has no unnecessary padding or margin causing overflow */
.about_section .container,
.about_section_2 {
    overflow: hidden;
}

@media (max-width: 1050px) { 
    .service-place-img-row {
        padding: 30px 0px;
        justify-items: center;
    }
}

@media (max-width: 768px) {
    .carousel {
        padding-top: 0px;
    }
    .carousel-img {
       height: 100%; /* height: 600px; Optional fixed height for small screens */
    }
    .about_taital_box {
        font-size: small;
    }
    .story-box {
    padding: 120px 20px 20px 20px;
    }
    .service-place {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .service-img-container img {
        width: 300px;
    }
    .service-img-container2 img {
        width: 300px;
    }
    .service-place-img-row {
        padding: 30px 60px;
        justify-items: flex-start;
    }
}

@media only screen and (max-width:560px) {
    .navbar-brand img {
        width: 150px;
    }
    .service-place {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .service-img-container img {
        width: 250px;
    }
    .service-img-container2 img {
        width: 250px;
    }
    .service-place-img-row {
        padding: 30px 50px;
        justify-items: flex-start;       
    }
}


/* about section end */



/* coffee section end */


/* client section start */

.client_section {
    width: 100%;
    float: left;
    background-color: #000;
    margin-bottom: 20px;
}

.client_section_2 {
    width: 100%;
    float: left;
}

.client_taital_main {
    width: 100%;
    display: flex;
    padding-top: 30px;
    align-items: center;
}

.client_left {
    width: 20%;
    float: left;
}

.frame_review {
    margin-top: -30px;
}

.client_img {
    width: 90%;
}

.client_right {
    width: 80%;
    float: left;
    padding: 20px 20px;
}

.moark_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #3b3b3b;
    font-weight: bold;
}

.client_text {
    width: 95%;
    float: left;
    text-align: justify;
    font-size: 16px;
    color: #3b3b3b;
    margin: 0px;
}

#custom_slider {
    width: 100%;
    height: auto;
    padding: 10px 10px 100px 10px;
}

#custom_slider .carousel-inner .carousel-item .about_taital {
    color: #fff;
}

#custom_slider .carousel-inner .carousel-item .client_section_2 .client_taital_main .client_right h3 + p{
    color: #fff;
}

.prev-button, .next-button{
    font-weight: bolder;
    background-color: #000000;
    border-radius: 0;
    border: 1px solid #ffffff;
    width: 50px;
}

.prev-button:hover, 
.prev-button:focus,
.prev-button:active {
    background: #000000;
    border: 1px solid #ffffff;
    outline: none;
    box-shadow: none;
}

.next-button:hover, 
.next-button:focus,
.next-button:active {
    background: #000000;
    border: 1px solid #ffffff;
    outline: none;
    box-shadow: none;
}

#custom_slider a.carousel-control-prev {
    left: initial;
    top: 190px;
    right: -50px;
    color: #fefefd;
    background-color: #DBAD3A;
}

#custom_slider a.carousel-control-next {
    right: -50px;
    top: 130px;

}

#custom_slider .carousel-control-next,
#custom_slider .carousel-control-prev {
    width: 5px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #fefefd;
    background-color: #4a4949;
}

#custom_slider .carousel-control-next:focus,
#custom_slider .carousel-control-next:hover,
#custom_slider .carousel-control-prev:focus,
#custom_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #DBAD3A;
}

.review_btn {
    width: 170px;
    margin: auto;
}

.review_btn a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    border-radius: 0px;
    border: 1px solid #DBAD3A;
    padding: 10px;
    border-radius: 0px;
    text-align: center;
}

.review_btn a:hover {
    color: #4a4949;
    border: 1px solid #4a4949;
}


/* client section end */

/* blog section start */

.blog_section {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
}

.blog_section_2 {
    width: 100%;
    float: left;
    padding-top: 60px;
}

.blog_box {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px;
    padding: 0px 0px 30px 0px;
}

.blog_box ul {
    padding: 0px 0px 20px 30px;
}

.blog_img {
    width: 100%;
}

.about-mission {
    font-weight: bold;
}

.date_text {
    width: 200px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0px;
    background-color: #DBAD3A;
    font-weight: bold;
    position: absolute;
    top: 10px;
}

.prep_text {
    width: 100%;
    font-size: 20px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
}

.hallmark_text {
    width: 100%;
    font-size: 14px;
    color: #3b3b3b;
    text-align: justify;
    margin: 0px;
    padding: 80px 30px 10px 30px;
}

.read_btn {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

.read_btn a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #f01c1c;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #f01c1c;
    text-transform: uppercase;
    padding: 8px;
}

.read_btn a:hover {
    color: #3b3b3b;
    border: 1px solid #3b3b3b;
}

.read_story {
    width: 170px;
    margin: 0 auto;
    display: flex;
}

.read_story a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    border-radius: 0px;
    border: 1px solid #DBAD3A;
    padding: 10px;
    border-radius: 0px;
    text-align: center;
}

.read_story a:hover {
    color: #4a4949;
    border: 1px solid #4a4949;
}

.view_highlight {
    width: 170px;
    margin: 0 auto;
    display: flex;
}

.view_highlight a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
    border: 1px solid #DBAD3A;
    padding: 10px;
    border-radius: 0px;
    text-align: center;
}

.view_highlight a:hover {
    color: #4a4949;
    border: 1px solid #4a4949;
}
/* blog section end */

/* why section start */
.why_section {
    width: 100%;
    background-color: #fdfcfc;
    color: #5C1F34;
}

.why-header-h1 {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.why-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    color: #000000;
}

.why-content {
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.why_box {
   padding: 30px 20px;
}

.highlight_text {
    text-align: center;
  font-size: 20px;
  color: #ffffff;
  background-color: #DBAD3A;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.highlight_text i {
  font-size: 2.5rem;
  display: block;
}

.highlight_content_text {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  text-align: center;
}


/* why section end */

/* contact section start */

.contact_section {
    width: 100%;
    float: left;
}

.contact_taital {
    width: 100%;
    font-size: 40px;
    color: #252525;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    justify-items: center;
}

.consult_text {
    text-align: center;
    color: #3b3b3b;
}

.contact_section_2 {
    width: 100%;
    float: left;
    padding-top: 10px;
}

.padding_left_0 {
    padding-left: 0px;
}

.mail_section_1 {
    width: 50%;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2e2e2d;
    border: 0px;
    background-color: #ffffff;
    padding: 11px 20px;
    margin-top: 20px;
    border-radius: 0px;
    border: 1px solid #000000;
    font-family: 'Poppins', sans-serif;
}

input.mail_text::placeholder {
    color: #2e2e2d;
}

.massage-bt {
    color: #2e2e2d;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #707067;
    border: 1px solid #000000;
    padding: 40px 20px 0px 20px;
    border: 0px;
    height: 110px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

textarea#comment.massage-bt::placeholder {
    color: #2e2e2d;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #DBAD3A;
    padding: 10px;
    margin-top: 20px;
    display: block;
}

.send_bt a:hover {
    color: #161616;
    background-color: #efefef;
}

.map_main {
    width: 100%;
    float: left;
    margin-top: 90px;
}


/* contact section end */


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    height: auto;
    background-color: #1d1d1d;
    background-size: 100%;
    padding: 50px 0px;
}

.address_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
    color: #fefefd;
    font-weight: bold;
    padding-bottom: 50px;
}

.footer_text {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
}


.padding_left_10 {
    padding-left: 10px;
}

.social_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.footer_social_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer_social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.footer_social_icon li {
    float: left;
}

.footer_social_icon li a {
    float: left;
    padding: 5px 10px;
    background-color: #fff;
    color: #1d1d1d;
    border-radius: 100%;
    font-size: 19px;
    margin-right: 5px;
    width: 44px;
    text-align: center;
    margin-top: 10px;
}

.footer_social_icon li a:hover {
    background-color: #ffffff;
    color: #DBAD3A;
}

/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    float: left;
    background-color: #ffffff;
    box-shadow: 0 15px 80px rgba(22, 20, 20, 0.2);
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 12px;
    color: #000000;
    text-align: center;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
}

.copyright_text a {
    color: #000000;
}

.copyright_text a:hover {
    color: #252525;
}


/* copyright section end */

.margin_top90 {
    margin-top: 90px;
}